# DEV ou PROD
EXEC_ENV=DEV

# chaîne de connexion à la base de données pour django
# en dev on peut commenter cette ligne pour utiliser SQLite
DATABASE_URL=postgresql://user:pass@server:port/dbname

# identifiants du super user à créer s'il n'y en a pas encore
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@chiktabb.app
DJANGO_SUPERUSER_PASSWORD=password

# à renseigner 
DJANGO_SECRET_KEY=supersecret123123
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# Settings pour postgres (servent uniquement si docker compose est utilisé)
# TODO simplifier pour éviter de renseigner ça deux fois
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=qtcdb