{% load compress static %}
<!DOCTYPE html>
<html data-theme="dark" lang="fr">

<head>
  {% block title %}
  <title>Quiz thématique de Chiktabba</title>
  {% endblock %}

  {% load og_tags %}
  {% og_meta_tags %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <style>
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
  </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/qtc.css' %}">
  {% endcompress %}
  

  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}">
</head>

<body>
  <main class="container" >
    {% block content %}
    default
    {% endblock %}
  </main>
  {% block footer %}
      <footer class="container">
        <hgroup>
          {%if false %}
        <p class="center-text"><small>Bonne année 2026 à toutes et à tous !</small></p> 
        {%endif%}
        <p class="center-text"><small>Fabriqué artisanalement et avec ♥ par Chiktabba et ses gros doigts boudinés.</small></p>        
      </hgroup>
      </footer>
    {% endblock %}
    {% compress js %}
      <script src="{% static 'js/htmx.js' %}"></script>
      <!-- <script src="{% static 'js/qtc-xmas.js' %}"></script> -->
    {% endcompress %}
</body>

</html>