{% load static %}
<!DOCTYPE html>
<html data-theme="dark" lang="fr">

<head>
  {% block title %}
  <title>Quiz thématique de Chiktabba</title>
  {% endblock %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css">
  <link rel="stylesheet" href="{% static 'css/qtc.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}">
</head>

<body>
  <main class="container" style="height:100vh !important;">
    {% block content %}
    default
    {% endblock %}
  </main>
  {% block footer %}
      <footer class="container">
        <hgroup>
        <p class="center-text"><small>🎄 Bonnes fêtes de fin d'année à toutes et à tous ! 🎅</small></p>
        <p class="center-text"><small>Fabriqué artisanalement et avec ♥ par Chiktabba et ses gros doigts boudinés.</small></p>        
      </hgroup>
      </footer>
    {% endblock %}
      <script src="{% static 'js/htmx.js' %}"></script>
      <script src="{% static 'js/qtc.js' %}"></script>
</body>

</html>