{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="artwork">
  <div id="gradient"></div>
  <div>
    <img style="width:100vw" id="artwork--res" src="{% static background_img_url %}">
  </div>
</div>
<div>
  <article>
    <div id="app-container">
      <hgroup class="center-text">
        <h2>{{ quiz.quiz_title }}</h2>
        <h3>
          {% if quiz.is_running %}
            Le quiz se termine le {{ quiz.end_datetime|date }} à {{ quiz.end_datetime|time }}.
          {% else %}
            Ce quiz est terminé ou n'a pas encore démarré.
          {% endif %}
        </h3>
      </hgroup>

      <form hx-post="{% url 'qtc_save_entry' quiz.quiz_url_id entry.unique_id %}" 
            hx-target="#response-content" 
            hx-indicator="#loading-ind" 
            hx-ext="disable-element" 
            hx-disable-element="#save-btn">
        {% csrf_token %}

        <!-- Advent Calendar Grid -->
        <div class="qtc-grid">
          {% for answer in entry.entry_answers.all %}
          <div class="qtc-grid-item" data-day="{{ answer.question.question_order }}">
              <img 
                src="{{answer.question.file.url }}" 
                onclick="document.getElementById('editable-{{answer.question.question_order}}').focus()" 
              />
              <span class="image-number">{{answer.question.question_order}}</span>
              <div 
              id="editable-{{ answer.question.question_order }}" 
              {% if quiz.is_running %}contenteditable="true"{% endif %} spellcheck="false"
              onkeyup="document.getElementById('hidden-{{ answer.question.question_order }}').value=event.target.innerText.trim();" 
              class="editable-overlay editable-hidden">
              {{ answer.answer_text }}
            </div>
            <input 
              type="hidden" 
              id="hidden-{{ answer.question.question_order }}" 
              name="answer-{{ answer.id }}" 
              value="{{ answer.answer_text }}" 
            />
          </div>
          {% endfor %}
        </div>

        <!-- Existing Input for Player Name -->
        {% if quiz.is_running %}
        <div>
          <label for="player_name"><span>Sous quel pseudo te connaît-on ?</span></label>
          <input 
            required="required" 
            type="text" 
            id="player-name-input" 
            name="player_name" 
            value="{{ entry.player_name }}" 
            placeholder="d4rk_Naruto666, par exemple" 
            required 
          />
        </div>
        <div>
          <div id="response-content" style=""></div>
        </div>
        <div>
          <button type="submit" id="save-btn">
            <span id="loading-ind"></span>Enregistrer mes réponses de qualité
          </button>
        </div>
        {% endif %}
      </form>
    </div>
  </article>
</div>

<script>
</script>
{% endblock %}
